.pc-container {
    opacity: 0;
    position: absolute;
    left: 50px;
    transition: left 1s, opacity 1s;
    width: 100vw;
    display: flex;
    justify-content: center;
}

.mobile-container {
    display: none;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 100vh;
    overflow: hidden;
    font-family: 'Dosis';
    background: linear-gradient(-45deg, #ffffff, #0d7f7b, #ffffff, #047b6f);
    background-size: 200% 200%;
    animation: gradientAnimation 15s ease infinite;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

h1 {
    text-align: center;
}

a:-webkit-any-link {
    color: #cdb4db;
}


.main-container {
    -webkit-box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
    -moz-box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
    box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
    width: 1300px;
    height: 600px;
    border-radius: 15px;
    display: flex;
    color: white;
    background-color: #343a40;
}

.left-container {
    border-right: 1px solid black;
    width: 200px;
    height: 600px;
    flex-direction: column;
}

.language {
    text-align: left;
}

.language img {
    transition: transform .5s;
    cursor: pointer;
    margin-left: 10px;
    margin-top: 3px;
}

.language img:hover {
    transform: scale(1.1);
    transition: transform .5s;
}

.marks {
    height: fit-content;
}

.mark {
    padding: 10px;
    text-align: center;
    cursor: pointer;
    position: relative;
    right: 0px;
    width: 180px;
    transition: background .5s, right .5s, width .5s, border-top-left-radius .8s, border-bottom-left-radius .8s;

}

.mark:hover {
    background-color: #68D8D6;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    width: 200px;
    right: 20px;
    transition: background .5s, right .5s, width .5s, border-top-left-radius .8s, border-bottom-left-radius .8s;
}

.mark.active {
    background-color: #07BEB8;
}

.socials {
    display: flex;
    justify-content: center;
    align-items: end;
}

.socials img {
    cursor: pointer;
    transition: transform .5s;
    padding-bottom: 20px;
    margin: 0 5px;
}

.socials img:hover {
    transform: scale(1.2);
    transition: transform .5s;
}

.center-container {
    min-width: 700px;
    height: 600px;
    display: flex;
    overflow: hidden;
}

.background-top {
    position: absolute;
    height: 80px;
    width: 700px;
    background: linear-gradient(to top, rgba(52, 58, 64, 0) 0%, rgba(52, 58, 64, 1) 100%);
    z-index: 3;
}

.background-bottom {
    position: absolute;
    height: 80px;
    min-width: 700px;
    background: linear-gradient(to top, rgba(52, 58, 64, 1) 0%, rgba(52, 58, 64, 0) 100%);
    z-index: 3;
}

.text-container>div {
    padding: 20px 20px;
}

.right-container {
    width: 400px;
    height: 600px;
    border-left: 1px solid black;
}

.text-container {
    z-index: 2;
    position: relative;
    bottom: 0px;
    height: fit-content;
    width: 650px;
}

.slider {
    width: 14px;
    background-color: #161a1d;
    border-left: 13px solid #343a40;
    border-right: 13px solid #343a40;
    border-bottom: 13px solid #343a40;
    border-top: 13px solid #343a40;
    z-index: 5;
}

.slider-button {
    z-index: 5;
    background: linear-gradient(to top, rgba(104, 216, 214) 0%, rgba(7, 190, 184) 100%);
    height: 80px;
    width: 40px;
    position: relative;
    top: 0px;
    right: 13px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-me p {
    font-size: 18.5px;
}

.timeline-container {
    display: flex;
}

.timeline-left {
    width: 50%;
    border-right: 2px solid grey;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.timeline-right {
    width: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.timeline-element {
    height: 250px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    -webkit-box-shadow: 0px 0px 14px 0px rgba(255, 255, 255, 1);
    -moz-box-shadow: 0px 0px 14px 0px rgba(255, 255, 255, 1);
    box-shadow: 0px 0px 14px 0px rgba(255, 255, 255, 1);
    padding: 10px 5px;
    border-radius: 15px;
    width: 80%;
    position: relative;
    opacity: 0;
    transition: opacity .8s, left .8s;
}

.timeline-element:nth-child(odd),
.timeline-image-element:nth-child(odd) {
    left: -100px;
}

.timeline-element:nth-child(even),
.timeline-image-element:nth-child(even) {
    left: 100px;
}

.timeline-title {
    font-weight: 600;
    font-size: 18px;
}

.timeline-additional {
    text-align: left;
}

.timeline-additional ul {
    padding-left: 30px;
}

.timeline-image-element:first-of-type {
    margin-top: 25px;
}

.timeline-image-element {
    height: 200px;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    position: relative;
    opacity: 0;
    transition: opacity .8s, left .8s;
}

.timeline-image-element img {
    width: 50%;
}

#lo-logo {
    border-radius: 50%;
}

.technologies-and-skills {
    display: flex;
    flex-direction: column;
}

.technologies-and-skills-outer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.technologies-and-skills-inner-container {
    display: flex;
    width: 630px;
    margin: 0 15px;
    justify-content: center;
    gap: 12px;
    position: relative;
    opacity: 0;
    transition: opacity .8s, left .8s;
}

.technologies-and-skills-inner-container:nth-child(odd) {
    left: -100px;
}

.technologies-and-skills-inner-container:nth-child(even) {
    left: 100px;
}

.technologies-and-skills-inner-container>div {
    margin: 0 30px;
    min-width: 142px;
}

.technologies-and-skills-inner-container>div>h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 60.8px;
}

.technologies-and-skills-inner-container>div>div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.tech-img-container {
    width: 32px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    height: 80px;
    align-items: center;
}

.tech-img-container>div:nth-child(1),
.tech-img-container img {
    width: 32px;
    z-index: 3;
    transition: transform .3s;
}

.tech-img-container>div:nth-child(1) {
    min-height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.white-field {
    z-index: 2;
    width: 160px;
    min-height: 52px;
    position: relative;
    bottom: 25px;
    background: linear-gradient(to top, rgba(52, 58, 64, 0) 0%, rgba(52, 58, 64, 1) 60%, rgba(52, 58, 64, 1) 100%);
}

.tech-name {
    z-index: 1;
    display: flex;
    justify-content: center;
    width: 150px;
    position: relative;
    bottom: 72px;
    text-align: center;
    transition: bottom .3s;
}

.portfolio-container {
    overflow: hidden;
}

.portfolio-element {
    position: relative;
    bottom: 210px;
    opacity: 0;
    transition: opacity .5s, bottom .5s;
}

.portfolio-element-container {
    display: flex;
    align-items: center;
}

.portfolio-element-logo {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.portfolio-element-logo img {
    width: 50px;
}

.portfolio-element h2 {
    text-align: left;
    margin-left: 71px;
}

.portfolio-element-description {
    font-size: 18px;
    margin-bottom: 10px;
}

.portfolio-element-additional {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.portfolio-additional-icon-container {
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.portfolio-element-additional>div {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform .3s;
    cursor: pointer;
}

.portfolio-element-additional>div:hover {
    transform: scale(1.15);
    transition: transform .3s;
}

#form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 40px;
    opacity: 0;
    transition: opacity .5s;
}

.form-inner-container {
    display: flex;
    gap: 30px;
    justify-content: space-between;
}

input.contact-form-text-input {
    width: 196px;
}

textarea.contact-form-text-input {
    margin-top: 20px;
    resize: none;
    width: 436px;
    height: 140px;
}

.contact-form-text-input {
    border: 2px solid#343a40;
    border-bottom: 2px solid #07BEB8;
    background: none;
    padding: 5px;
    color: white;
    transition: border .4s ease, background .4s ease, border-radius .4s ease;
}

.contact-form-text-input:focus-visible,
.contact-form-text-input:hover {
    border-radius: 5px;
    outline: none;
    border: none;
    border: 2px solid #07BEB8;
    background-color: #161a1d;
    transition: border .4s ease, background .4s ease, border-radius .4s ease;
}

#submit-form {
    padding: 5px;
    margin-top: 40px;
    background-color: #07BEB8;
    font-family: 'Dosis';
    font-weight: 600;
    font-size: 17px;
    border: 2px solid #07BEB8;
    border-radius: 3px;
    transition: background .3s;
    color: #343a40;
    cursor: pointer;
}

#error-message {
    margin: 20px 0;
    min-height: 22px;
}

#loader {
    border: 4px solid #f3f3f3;
    border-top: 4px solid #3498db;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 1s linear infinite;
    display: none;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

#submit-form:hover {
    background-color: #343a40;
    color: #07BEB8;
    transition: background .3s;
}

.footer-space {
    height: 80px;
}

.photo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 30px;
}

.photo-container img {
    border-radius: 50%;
    width: 300px;
    height: 300px;
}

.additional-info h1 {
    text-align: center;
    margin-bottom: 30px;
}

.info-outer-container {
    display: flex;
    justify-content: space-around;
}

.info-inner-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.info-inner-container img {
    margin-right: 10px;
}

.gallery {
    display: none;
    z-index: 10;
    width: 1300px;
    height: 600px;
    background: rgba(0, 0, 0, 0.8);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
}

.close-gallery {
    position: relative;
    left: 600px;
    top: 60px;
    transition: transform .5s;
    cursor: pointer;
}

.close-gallery:hover {
    transform: scale(1.2);
    transition: transform .5s;
}

.left-arrow,
.right-arrow {
    cursor: pointer;
    transition: transform .5s;
}

.left-arrow:hover,
.right-arrow:hover {
    transform: scale(1.2);
    transition: transform .5s;
}

.gallery-main-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 10px 0;
    width: 1400px;
}

.other-images-inner-container {
    height: 130px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    gap: 40px
}

.other-images-inner-container img {
    height: 80px;
    object-fit: fill;
    opacity: 0.5;
    transition: opacity .3s;
    cursor: pointer;
}

.other-images-inner-container img.image-active {
    opacity: 1
}

.main-img {
    width: 1000px;
    display: flex;
    justify-content: center;
}

.main-img img {
    height: 480px;
}

@media screen and (max-width: 1100px) {
    .pc-container {
        display: none;
    }

    body {
        background: #343a40;
        color: white;
        height: auto;
        max-width: 100vw;
        overflow: scroll;
        overflow-x: hidden;
    }

    .mobile-container {
        display: flex;
        flex-direction: column;
    }

    #navbar {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background-color: #272525;
        color: white;
        padding: 10px;
        transform: translateY(0%);
    }

    .first-container {
        max-width: 100vw;
        -webkit-box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 1);
        -moz-box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 1);
        box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 1);
        max-width: 100vw;
        overflow-x: hidden;
    }

    .photo-container img {
        width: 80%;
        height: 80%;
    }

    .text-container {
        max-width: 100vw;
        overflow-x: hidden;
    }

    .about-me p {
        font-size: 16px;
    }

    .timeline-container {
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .timeline-image-element:first-of-type {
        margin-top: 0;
    }

    .timeline-left {
        border-right: none;
    }

    .timeline-element {
        width: 250px;
        height: 280px;
        margin-bottom: 20px;
    }

    .timeline-element-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .timeline-image-element {
        height: 200px;
        margin-bottom: 20px;
    }

    .background-bottom,
    .background-top {
        min-width: 100vw;
        max-width: 100vw;
        position: fixed;
    }

    .background-bottom {
        top: calc(100vh - 80px);
    }

    .portfolio-element-description {
        font-size: 16px;
    }

    #form {
        margin-top: 20px;
    }

    input.contact-form-text-input {
        width: 100%;
        margin-top: 20px;
    }

    textarea.contact-form-text-input {
        width: 100%;
    }
}